<section>
  <article>
    <aside class="logo">
      <a href="/">LOGO</a>
    </aside>
    <aside class="menu">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/note/create-note">create-note</a>
        </li>
        <li>
          <a href="/">log in</a>
        </li>
      </ul>
    </aside>
  </article>
</section>